<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container" style="padding: 20px;">
            <div style="margin-bottom: 40px;">
                {% if app.user %}
                    <span style="float: left;">
                        Logged in as <b>{{ app.user.username }}</b>
                    </span>
                    <span style="float: right;">
                        <a href="{{ path('manage_subscriptions') }}">Administrate</a>
                        <span>|</span>
                        <a href="{{ path('app_logout') }}">Logout</a>
                    </span>
                {% else %}
                    <span style="float: right;">
                        <a href="{{ path('add_subscription') }}">Subscribe</a>
                        <span>|</span>
                        <a href="{{ path('manage_subscriptions') }}">Administrate</a>
                    </span>
                {% endif %}
            </div>

            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ flash_message }}
                </div>
            {% endfor %}
            
            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="alert alert-danger">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% block body %}{% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>